@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Index";
}

<hr/>

<body>
    <h2>
        "Welcome to NovaCar Insurance, where your peace of mind is our top priority. At NovaCar, we understand the importance of protecting your vehicle and your loved ones on the road. With our comprehensive coverage options and exceptional customer service, we strive to provide you with the confidence to navigate life's journeys worry-free. Trust NovaCar Insurance to safeguard your drive today and every mile ahead."
    </h2>
</body>

