@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("View Admin Page", "Admin")
</p>
